* {
  border: 1px solid red;
}
body {
  background-color: rgb(214, 214, 214);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(111, 111, 119);
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  height: 5rem;
}

.banner {
  width: 75%;
  height: 15rem;
}
.rightChart {
    flex-direction: right;
    width: 25%;
    height: 15rem;
}